.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  /* padding: 25px; */
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .body {
  flex: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-align: center;
}

.navbar {
  color: white;
  background-color: #4baaf5;
  max-height: 50px;
}

.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
  display: block;
  color: black;
}

.submenu {
  display: none;
  position: absolute;
  font-size: 15px;
  left: 100%;
  top: 0;
  min-width: 10px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  z-index: 1000;
  color: black;
  text-decoration: none;
}

.dropdown-item:focus {
  outline: none;
  box-shadow: white;
}

.dropdown-item:hover .submenu {
  display: block;
  text-decoration: none;
}

@media (max-width: 940px) {
  .navbar-collapse {
    display: block !important;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .btn {
    width: 100%;
    margin: 10px 0;
  }
}

@media (max-width: 768px) {
  .btn {
    margin-left: 0;
  }
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: white;
  color: #fff;
}

.dropdown-item {
  font-size: 15px;
  text-decoration: none;
}

.dropdown-item:hover,
.dropdown-item:focus {
  text-decoration: none;
}

.navbar-nav .nav-link {
  font-size: 20px;
}

.navbar-nav .nav-link:hover {
  text-decoration: none;
}

.Error {
  color: red;
}

.header {
  background-color: #4baaf5;
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
}

.custom-h1 {
  font-size: 20px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.label {
  color: #333;
  font-weight: bold;
  font-size: 15px;
}

.value {
  font-weight: lighter;
  font-size: 15px;
  padding-left: 10px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; 
}

.modal-content {
  background: #ffffff !important; 
  padding: 20px;
  border-radius: 5px;
  width: 100px; 
  max-width: 30%; 
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  opacity: 1; 
}

.modal-content h2,
.modal-content h5 {
  background-color: #4baaf5;
  padding: 10px;
  border-radius: 5px;
  margin: 0 0 10px 0;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}


.pi.pi-times {
  color: red !important;
  font-size: 1.5em;
}

.collapsible-container {
  position: relative;
}

.custom-radio .form-check-input {
  transform: scale(1.0);
  accent-color: #b8dee5;
  border-color: #4baaf5;
}

.custom-label-NWC {
  font-weight: normal;
  font-size: 15px;
}

/* .custom-input {
  border: 2px solid #4baaf5;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
} */
.form-control {
  font-size: 14px !important;
  border: 2px solid #4baaf5 !important;
  border-radius: 5px !important;
} 
.form-control-nr{
  border: 2px solid #4baaf5 !important;
  border-radius: 5px !important;
}
.form-control-nr:focus {
  border: 2px solid #4baaf5 !important;
  border-radius: 5px !important;
}

.select-dropdown {
  font-size: 14px !important; 
  border: 2px solid #4baaf5 !important; 
  border-radius: 5px !important; 
  width: 960px; 
  height: 35px;
  padding: 10px 8px; 
  line-height: 1.5; 
  outline: none; 
  box-shadow: none; 
  display: flex; 
  align-items: center;
}
.select-dropdown option:focus,
.select-dropdown option:active {
  background-color: transparent !important; 
  color: inherit !important; 
}
.react-select__option--is-selected {
  background-color: transparent !important; 
  color: inherit !important; 
}
.react-select__option:hover {
  background-color: transparent !important; 
  color: inherit !important; 
}
.react-select__single-value {
  color: inherit !important; 
}
.select-dropdown-ct {
  font-size: 14px !important; 
  border: 2px solid #4baaf5 !important; 
  border-radius: 5px !important; 
  width: 400px; 
  height: 35px;
  padding: 10px 8px; 
  line-height: 1.5; 
  outline: none; 
  box-shadow: none; 
  display: flex; 
  align-items: center;
}
.select-dropdown-ct option:focus,
.select-dropdown-ct option:active {
  background-color: transparent !important; 
  color: inherit !important; 
}

.custom-input{
  font-size: 14px !important;
  height: 35px !important; 
  border: 2px solid #4baaf5 !important;
  border-radius: 5px !important;
  box-shadow: none !important;
}
.picklist-container {
  width: 250px;
  height: 300px;
  overflow: auto;
}
.list-group-item {
  border: none !important; 
  padding: 10px 15px; 
}

.list-group-item input[type="radio"] {
  margin-top: 0.3em; 
}
.select {
  font-size: 15px;
}


.form-label {
  font-size: 20px;
}

.custom-label {
  margin-top: 0.25rem;
  font-size: 13px;
  font-weight:bold;
}

.container {
  padding-right: 0px !important;
  padding-left: 4px  !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.dropdown-item:focus, 
.dropdown-item:hover, 
.dropdown-item:active {
    background-color: transparent !important; 
    color: inherit; 
}
.required:after {
  content: ' *';
  color: red;
}

.table-custom td,
.table-custom th {
  font-size: 14px;
}

.form-container {
  text-align: left;
  max-width: 1470px;
  width: 99vw;
}
.form-container-ncc{
  text-align: left;
  max-width: 1500px;
  width: 100vw;
}

.form-section {
  flex: 1;
  margin-right: 15px;
}


.form-group {
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .form-container {
    padding: 10px;
  }

  .form-section {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .d-flex {
    flex-direction: column;
  }
}

.custom-select {
  color: black;
  border: 1px solid #4baaf5;
}

.custom-select:focus {
  border-color: #4baaf5;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.collapsible-container {
  padding-right: 0px;
  margin: 0px;
}

.collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

 .collapsible-content.active {
  max-height: 1800px;
} 

 .collapsible-container:hover .collapsible-content {
 max-height: 1800px;
} 
.collapsible-container.error {
  border-color: red;
}

.collapsible-container.error .header {
  color: red;
}

.header.error {
  color: red;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-weight: bold;
}

.large-checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
  /* background-color: #4baaf5; */
  border: 2px solid black; 
  outline: none; 
  
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 30px; 
  height: 30px; 
  border: 2px solid #4baaf5; 
  border-radius: 4px; 
  background-color: white; 
  cursor: pointer;
  /* padding-left: 0px; */
}

.custom-checkbox::after {
  content: '';
  position: absolute;
  left: 8px; 
  top: 8px;
  width: 8px; 
  height: 12px; 
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0; 
}

.custom-checkbox.checked::after {
  opacity: 1; 
}

.file-upload {
  background-color: #4baaf5;
  color: #4baaf5;
}

.custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #4baaf5;
  color: black;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

.custom-file-upload:hover {
  background-color: #4baaf5;
}

.p-button-info {
  background-color: #4baaf5;
  border: none;
}

.p-button-danger {
  background-color: #dd4f4f;
  border: none;
}

.custom-label .p-datatable-thead>tr>th {
  background-color: #4baaf5;
  color: black;
  font-size: 1.2em;
  padding: 12px;
}

.custom-label .p-datatable-tbody>tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.btn-success {
  background-color: #4baaf5;
  color: black;
  border: none;
}

.page {
  font-size: 150px;
}

.btn-success:hover {
  background-color: #4baaf5;
  color: black;
}

 /* .btn{
 font-size:5px;
}  */

.clicked {
  background-color: #4baaf5;
}

.error-highlight .p-picklist-source,
.error-highlight .p-picklist-target {
  border: 1px solid red;
}

.custom-label .p-datatable-tbody>tr:nth-child(even) {
  background-color: white;
}

.custom-label-no-padding {
  padding-right: 0;
}

.error {
  border-color: red;
}

custom-input:invalid {
  border-color: red;
}

.p-invalid {
  border-color: red !important; 
}
.p-invalid:focus {
  outline: none; 
  box-shadow: none; 
}
.custom-input:focus {
  outline: none; 
  box-shadow: none; 
}

.custom-input[type="radio"] {
  margin-top: 12px;
}
.custom-datatable {
  max-width: 2000px; 
  th, td {
    padding: 0px; 
  }

  tr {
    margin-bottom: 0px; 
  }
}
@media (max-width: 768px) {
  .custom-datatable {
    max-width: 100%; 
  }
}
.custom-toast {
  text-align: center; 
  font-size: 1.2rem; 
  padding: 1rem; 
}

/* .p-toast {
  left: 50%; 
  transform: translateX(-50%); 
  top: 20px; 
} */